<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Road Accidents Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    <h1>Select Accident Data</h1>

    <label for="main-dropdown">Select Category:</label>
    <select id="main-dropdown">
        <option value="">--Select--</option>
    </select>

    <div class="dropdown-container" id="dropdown-container" style="display: none;">
        <div class="dropdown" id="state-dropdown">
            <button class="dropbtn">Select State</button>
            <div class="dropdown-content">
                <div id="state-checkboxes"></div>
            </div>
        </div>

        <div class="dropdown" id="cols-container">
            <button class="dropbtn">Select Columns</button>
            <div class="dropdown-content">
                <div id="cols-checkboxes"></div>
            </div>
        </div>

    </div>

    <button id="save-button" style="display: none;">Plot</button>
        <div id="output"></div>
        <img id="plot-image" style="display: none;" src="" >
    <div id="output" style="margin-top: 20px;"></div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
